//HEADER
header{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    background-color: whitesmoke;
    
    //logo
    .logo-container{
        display: block;
        max-width: 11rem;
        max-height: 6.5rem;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
        }
    }
    //logo

    //nav-bar
    nav{
        width: 85%;
        padding: 0.3rem;
        padding: 0 1rem;
        font-weight: 600;
        font-size: 140%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12rem;
        @media (max-width:1167px) {
            gap: 0;
            justify-content: space-between;
        }
        @media (max-width:780px) {
            justify-content: end;
    
        }

        a{
            text-decoration: none;
            color: brown;
            @media (max-width:780px) {
                display: none;

            }
        }
        a.active {
            color: orangered;
            text-decoration: underline;
            transition: 1s ease all;
        }
        a:not(.active) {
            text-shadow: none;
        }
        // .active{
        //     color: brown;
            
        // }

        .nav-icon{
            display: none;
            @media (max-width:780px) {
                display: block;
                font-size: 210%;
                font-weight: 700;
                color: brown;
                cursor: pointer;
            }
        }

        
    }
 
}
//HEADER