#section-one{
    max-width: 100%;
    height: 100vh;
    position: relative;

    

    .whatsapp-div{
      width: 3.5rem;
      height: 3.5rem;
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      z-index: 4;
      border-radius: 50%;
      cursor: pointer;
      background-color: green;
      box-shadow: 0 0 15px 0 orange, 0 0 15px 0 red;
      animation: dancingShadow 1.5s infinite alternate;

      @keyframes dancingShadow {
        0% {
            box-shadow: 0 0 15px 0 orange, 0 0 15px 0 red;
        }
        50% {
            box-shadow: 0 0 25px 5px orange, 0 0 25px 5px red;
        }
        100% {
            box-shadow: 0 0 15px 0 orange, 0 0 15px 0 red;
        }
    }

      a{
        width: 100%;
        height: 100%;
        display: block;
      }
      

      img{
        width: 100%;
        height: 100%;
      }
    }
    

    @media (max-width:856px) {
      height: 90vh;
    }
    @media (max-width:660px) {
      height: 70vh;
    }
    @media (max-width:530px) {
      height: 60vh;
    }
    @media (max-width:420px) {
      height: 50vh;
    }

    .swiper {
        width: 100%;
        height: 100%;
        

        .swiper-slide{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
            }
        }
      }

      .swiper-button-prev{
        color: white;
        padding: 2rem 2rem;
        background-color: rgba(255, 255, 255, 0.329);
        border-radius: 50%;
        display: none;
        @media (max-width:600px) {
          display: none;
        }
      }
      .swiper-button-next{
        color: white;
        padding: 2rem 2rem;
        background-color: rgba(255, 255, 255, 0.329);
        border-radius: 50%;
        display: none;
        @media (max-width:600px) {
          display: none;
        }
        
      }
      
    
}