.main-about-us-container{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.1rem;
    @media (max-width:600px) {
        padding: 0.2rem 0.3rem;
    }

    .title{
        width: 80%;
        padding: 1rem 2rem;
        font-weight: 700;
        color: brown;
        font-size: large;
        padding-bottom: 0.5rem;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem;
            font-size: medium;
        }
    }
    .sub-title{
        width: 80%;
        padding: 1rem 2rem;
        font-weight: 600;
        padding-top: 0;
        padding-bottom: 0;
        color: brown;
        font-size: large;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem;
            font-size: medium;
        }
    }
    .details-1{
        width: 80%;
        padding: 1rem 2rem;
        padding-bottom: 0.5rem;
        color: grey;
        font-size:large;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem 2rem;
            font-size: medium;
        }
        span{
            color: brown;
        }
    }
    .title-2{
        width: 80%;
        padding: 1rem 2rem;
        color: brown;
        font-size: large;
        font-weight: 600;
        padding-top: 0;
        padding-bottom: 0;
        
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem;
            font-size: medium;
        }
    }
    .sub-title-2{
        width: 80%;
        padding: 1rem 2rem;
        color: brown;
        font-size: medium;
        padding-bottom: 0.5rem;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem 2rem;
        }
    }
    .details-2{
        width: 80%;
        padding: 0rem 4rem;
        color: brown;
        font-size: medium;
        
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem 2rem;
        }
        
        span{
            font-weight: 600;
            
        }
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
    .title-3{
        width: 80%;
        padding: 1rem 2rem;
        font-size: medium;
        color: brown;
        font-weight: 600;
        padding-bottom: 0.5rem;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem;
        }
    }
    .sub-title-3{
        width: 80%;
        padding: 1rem 2rem;
        padding-top: 0;
        font-size: medium;
        color: grey;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem 2rem;
        }
    }
    .title-4{
        width: 80%;
        padding: 1rem 2rem;
        padding-bottom: 0.5rem;
        font-weight: 600;
        font-size: medium;
        color: brown;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem;
        }
    }
    .sub-title-4{
        width: 80%;
        padding: 1rem 2rem;
        padding-top: 0;
       font-size: medium;
        color: grey;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem 2rem;
        }
    }
    .title-5{
        width: 80%;
        padding: 1rem 2rem;
        font-size: medium;
        font-weight: 600;
        padding-bottom: 0.5rem;
        color: brown;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem;
        }
    }
    .sub-title-5{
        width: 80%;
        padding: 1rem 2rem;
        font-size: medium;
        color: gray;
        padding-top: 0;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem 2rem;
        }
    }
    .title-6{
        width: 80%;
        padding: 1rem 2rem;
        padding-bottom: 0.5rem;
        color: brown;
        font-size: medium;
        font-weight: 600;

        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem;
        }
    }
    .sub-title-6{
        width: 80%;
        padding: 1rem 2rem;
        padding-top: 0;
        color: grey;
        font-size: medium;
        @media (max-width:600px) {
            width: 100%;
            padding: 0.5rem 2rem;
            padding-bottom: 2rem;
        }
        span{
            color: brown;
        }
    }

}