
.main-sub-house-container-6{
    max-width: 100%;
    height: 100vh;
    background-color: red;
    
    .overlay{
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }
    .overlay-3{
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }
    .hide-overlay{
        display: none;
    }
    .hide-overlay-3{
        display: none;
    }


    .popup-images-container{
        width: 100vw;
        padding: 0;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-direction: column;
        .cancel-bar{
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: end;

            .cancel-icon-container{
                width: 7%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 250%;
                cursor: pointer;
                color: white;
                @media (max-width:1239px) {
                    width: 12%;
                }
                @media (max-width:800px) {
                    width: 16%;
                }
                @media (max-width:500px) {
                    width: 30%;
                }
                @media (max-width:293px) {
                    width: 35%;
                }

            }
        }     

        .inner-popup-images-container{
            width: 100%;
            height: 90%; 
            padding: 0; 
            object-fit: cover;        
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .swiper {
                max-width: 100%;
                max-height: 38rem;
                position: relative;
                .navigation{
                    width: 100%;
                    height: 10vh;
                    padding-right: 1.3rem;
                    position: absolute;
                    right: 0;
                    top: 45%;
                    z-index: 10;
                    display: flex;
                    justify-content: space-between;

                    .swiper-button-prev2{
                        max-width: 20%;
                        max-height: 8vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 400%;
                        color: white;
                        border-radius: 50%;
                        background-color: rgba(255, 255, 255, 0.26);
                        @media (max-width:420px) {
                            font-size:300%;
                            max-height: 6vh;
                        }
                  
                      
                                 
                    }
                    .swiper-button-next2{
                        max-width: 20%;
                        max-height: 8vh;                      
                        background-color: rgba(255, 255, 255, 0.26);
                        display: flex;
                        align-items: center;
                        border-radius: 50%;
                        justify-content: center;
                        font-size: 400%;
                        color: white;
                        @media (max-width:420px) {
                            font-size:300%;
                            max-height: 6vh;
                        }
                       
                    }
                }   
              }
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media(max-width:688px){
                    min-height: 85vh;
                    max-width: 100%;
                }
              }
              .swiper-slide img {
                max-width: 100%;
                max-height: 38rem;
              }
        }
    }
    .hide-images-container{
        display: none;
    }
    .hide-message-form{
        display: none;
    }
    .card-container{
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: 100%;
        min-height: 110vh;
        background-color: orangered;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width:800px) {
            background-color: aqua;
        }
        .card{
            width: 60%;
            min-height: 100vh;
            background-color: aqua;
            border-radius: 20px;
            @media (max-width:500px) {
                border-radius: 0;
            }
            @media (max-width:1239px) {
                width: 80%;
            }
            @media (max-width:1200px) {
                width: 90%;
            }
            @media (max-width:800px) {
                width: 100%;
            }
            .top-card{
                max-width: 100%;
                min-height: 70%;
                padding-top: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .image-card{
                    max-width: 70%;
                    min-height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    @media (max-width:950px) {
                        max-width: 85%;
                    }
                    @media (max-width:600px) {
                        max-width: 95%;
                    }
                    @media (max-width:500px) {
                        max-width: 100%;
                    }
                }
            }
            .middle-card{
                max-width: 100%;
                min-height: 20vh;


                .top-middle-card{
                    max-width: 100%;
                    min-height: 10vh;


                    .top-middle-card-1{
                        max-width: 100%;
                        min-height: 10vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .more-images-btn{
                            padding: 0.8rem 2.2rem;
                            cursor: pointer;
                            display: flex;
                            gap: 0.5rem;
                            color: white;
                            font-size: 110%;
                            border-radius: 15px;
                            background: orangered;
                            border-bottom: 1px solid white;
                            border-left: 1px solid white;

                            @media (max-width:600px) {
                                font-size: 90%;
                                padding: 0.6rem 1.0rem;
                            }

                            .bi-eye-fill{
                                color: black;
                            }
                           
                        }

                    }
                    .top-middle-card-2{
                        max-width: 100%;
                        min-height: 10vh;
                        background-color: white;
                        display: flex;
                        flex-direction: column;


                        .content-1{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: xx-large;
                            color: brown;
                            font-weight: 600;
                            @media (max-width:600px) {
                                font-size: x-large;
                            }
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }

                           


                        }
                        .content-2{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-3{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-4{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-4-created{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-5{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-6{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-7{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-8{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-9{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-10{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-11{
                            width: 100%;
                            padding: 1rem 2rem;
                            padding-top: 0;
                            font-size: xx-large;
                            color: brown;
                            font-weight: 600;
                            
        
                            @media (max-width:600px) {
                                font-size: x-large;
                            }
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }

                        }
                        .content-11-created{
                            width: 100%;
                            padding: 1rem 2rem;
                            padding-top: 0;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            
                           

                        }
                        .content-12{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: larger;
                            padding-top: 0;
                            font-weight: 600;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                        

                        }
                        .content-13{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }

                        }
                        .content-14{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }

                        }
                        .content-15{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }

                        }
                        .content-16{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }

                        }
                        .content-17{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: larger;
                            font-weight: 600;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }

                        }
                        .content-18{
                            width: 100%;
                            padding: 1rem 2rem;
                            padding-top: 0;
                            font-size: large;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }


                        }





                    }
                   
                }
                .bottom-middle-card{
                    max-width: 100%;
                    min-height: 10vh;
                    background-color: white;
                    padding: 0.5rem;
        

                    .top-bottom-middle-card{
                        width: 100%;
                        min-height: 5vh;
                        display: flex;


                        .avatar{
                            max-width: 5rem;
                            max-height: 10vh;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .name{
                            width: 90%;
                            min-height: 5vh;
                            display: flex;
                            color: brown;
                            align-items: center;
                            padding-left: 1rem;
                            font-size: 150%;
                            font-weight: 550;
                            @media (max-width:524px) {
                                font-size: 120%;
                            }
                            @media (max-width:434px) {
                                font-size: 100%;
                            }

                        }

                    }
                   

                }
                
            }
            .lower-card{
                max-width: 100%;
                min-height: 10vh;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.3rem;
                background-color: white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                .contact-property-expert{
                    width: 30%;
                    display: flex;
                    padding: 1rem 1.5rem;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    text-decoration: none;
                    color: white;          
                    background-color: orangered;
                    border-bottom: 2px solid white;
                    border-left: 2px solid white;
                    transition: transform 0.3s;
                    box-shadow: 0 0 0 rgba(255, 102, 0, 0.8);
                    animation: shadowDance 1.5s infinite;
                    @media (max-width:933px) {
                        width: 35%;
                    }
                    @media (max-width:716px) {
                        width: 40%;
                    }
                    @media (max-width:626px) {
                        width: 45%;
                    }
                    @media (max-width:560px) {
                        width: 50%;
                    }
                    @media (max-width:511px) {
                        width: 60%;
                    }
                    @media (max-width:430px) {
                        width: 65%;
                        padding: 1rem 0.5rem;
                    }
                    @media (max-width:370px) {
                        width: 70%;
                        padding: 1rem 0.5rem;
                    }
                    @media (max-width:325px) {
                        width: 75%;
                        padding: 1rem 0.5rem;
                    }
                    @media (max-width:370px) {
                        width: 80%;
                        padding: 1rem 0.5rem;
                    }
                    @media (max-width:290px) {
                        width: 90%;
                        padding: 1rem 0.5rem;
                    }

                    @keyframes shadowDance {
                        0% {
                            box-shadow: 0 0 0 rgba(255, 102, 0, 0.8);
                        }
                        50% {
                            box-shadow: 0 0 15px rgba(255, 102, 0, 0.8);
                        }
                        100% {
                            box-shadow: 0 0 0 rgba(255, 102, 0, 0.8);
                        }
                    }

                    

                }
            


            }

            
        }
    }

    .footer{
        max-width: 100%;
        min-height: 10vh;
        background-color: grey;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0rem;
        
        

        a{
            padding: 1rem;
            background-color: cadetblue;
            color: orangered;
            font-weight: 700;
            font-size: medium;
            border-bottom: 2px solid white;
            border-left: 2px solid white;

            text-decoration: none;
            border-radius: 5px;
        }
    }

    
   

    



}