
.main-sub-house-container{
    max-width: 100%;
    height: 100vh;
    
    .overlay{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }
    .overlay-3{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }
    .hide-overlay{
        display: none;
    }
    .hide-overlay-3{
        display: none;
    }
    .images-container{
        width: 70%;
        min-height: 97vh;
        background-color: red;
        position: fixed;
        right: 15%;
        top: 1%;
        z-index: 4;
        @media (max-width:1239px) {
            width: 80%;
            right: 10%;
        }
        @media (max-width:900px) {
            width: 90%;
            right: 5%;
        }
        @media (max-width:700px) {
            width: 100%;
            right: 0;
        }
        .top-images-container{
            width: 100%;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: end;
            .x-container{
                width: 10%;
                height: 10vh;
                font-size: 300%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                cursor: pointer;
                @media (max-width:1239px) {
                    width: 14%;                   
                }
                @media (max-width:800px) {
                    width: 17%;              
                }
                @media (max-width:700px) {
                    width: 20%;          
                }
                @media (max-width:500px) {
                    width: 25%;
                    font-size: 270%;              
                }
                @media (max-width:400px) {
                    width: 30%;       
                }
                @media (max-width:350px) {
                    width: 35%;    
                }
                @media (max-width:280px) {
                    width: 37%;    
                }         
            }
        }
        .bottom-images-container{
            width: 100%;
            padding: 1rem 2rem;
            // height: 80vh;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
              .swiper {
                width: 100%;
                height: 100%;
                position: relative;
                .navigation{
                    width: 100%;
                    height: 10vh;
                    position: absolute;
                    right: 0;
                    top: 45%;
                    z-index: 10;
                    display: flex;
                    justify-content: space-between;

                    .swiper-button-prev2{
                        width: 8%;
                        height: 10vh;
                        background-color: blue;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 400%;
                        color: white;
                        border-radius: 50%;
                        background-color: rgba(255, 255, 255, 0.26);
                        @media (max-width:1160px) {
                            height: 8vh;
                        }
                        @media (max-width:830px) {
                            height: 6.5vh;
                        }
                        @media (max-width:600px) {
                            height: 5vh;
                            font-size: 350%;
                        }
                        @media (max-width:470px) {
                            width: 10%;
                           
                        }
                        @media (max-width:400px) {
                            width: 12%;
                           
                        }
                        @media (max-width:326px) {
                            width: 14%;
                           
                        }           
                    }
                    .swiper-button-next2{
                        width: 8%;
                        height: 10vh;
                        background-color: rgba(255, 255, 255, 0.26);
                        display: flex;
                        align-items: center;
                        border-radius: 50%;
                        justify-content: center;
                        font-size: 400%;
                        color: white;
                        @media (max-width:1160px) {
                            height: 8vh;
                        }
                        @media (max-width:830px) {
                            height: 6.5vh;
                        }
                        @media (max-width:600px) {
                            height: 5vh;
                            font-size: 350%;
                        }
                        @media (max-width:470px) {
                            width: 10%;
                           
                        }
                        @media (max-width:400px) {
                            width: 12%;
                           
                        }
                        @media (max-width:326px) {
                            width: 14%;
                           
                        }
                    }
                }   
              }
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: green;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
        }
    }


    .hide-images-container{
        display: none;
    }
    .hide-message-form{
        display: none;
    }
    .card-container{
        max-width: 100%;
        min-height: 110vh;
        background-color: orangered;
        display: flex;
        align-items: center;
        justify-content: center;
        .card{
            width: 60%;
            min-height: 100vh;
            background-color: aqua;
            border-radius: 20px;
            @media (max-width:500px) {
                border-radius: 0;
            }
            @media (max-width:1239px) {
                width: 80%;
            }
            @media (max-width:1200px) {
                width: 90%;
            }
            @media (max-width:800px) {
                width: 100%;
            }
            .top-card{
                max-width: 100%;
                min-height: 70%;
                padding-top: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .image-card{
                    max-width: 70%;
                    min-height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    @media (max-width:950px) {
                        max-width: 85%;
                    }
                    @media (max-width:600px) {
                        max-width: 95%;
                    }
                    @media (max-width:500px) {
                        max-width: 100%;
                    }
                }
            }
            .middle-card{
                max-width: 100%;
                min-height: 20vh;


                .top-middle-card{
                    max-width: 100%;
                    min-height: 10vh;


                    .top-middle-card-1{
                        max-width: 100%;
                        min-height: 10vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .more-images-btn{
                            padding: 0.8rem 2.2rem;
                            cursor: pointer;
                            display: flex;
                            gap: 0.5rem;
                            color: white;
                            font-size: 110%;
                            border-radius: 15px;
                            background: orangered;
                            border-bottom: 1px solid white;
                            border-left: 1px solid white;

                            @media (max-width:600px) {
                                font-size: 90%;
                                padding: 0.6rem 1.0rem;
                            }

                            .bi-eye-fill{
                                color: black;
                            }
                           
                        }

                    }
                    .top-middle-card-2{
                        max-width: 100%;
                        min-height: 10vh;
                        background-color: white;
                        display: flex;
                        flex-direction: column;


                        .content-1{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: xx-large;
                            color: brown;
                            font-weight: 600;
                            @media (max-width:600px) {
                                font-size: x-large;
                            }
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }

                           


                        }
                        .content-2{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-3{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-4{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-4-created{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-5{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-6{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-7{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-8{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-9{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-10{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            

                        }
                        .content-11{
                            width: 100%;
                            padding: 1rem 2rem;
                            padding-top: 0;
                            font-size: xx-large;
                            color: brown;
                            font-weight: 600;
                            @media (max-width:600px) {
                                font-size: x-large;
                            }
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }

                        }
                        .content-11-created{
                            width: 100%;
                            padding: 1rem 2rem;
                            padding-top: 0;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }
                            
                           

                        }
                        .content-12{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: larger;
                            padding-top: 0;
                            font-weight: 600;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                        

                        }
                        .content-13{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            color: brown;
                            padding-top: 0;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }

                        }
                        .content-14{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }

                        }
                        .content-15{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }

                        }
                        .content-16{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: large;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }

                        }
                        .content-17{
                            width: 100%;
                            padding: 1rem 2rem;
                            font-size: larger;
                            font-weight: 600;
                            padding-top: 0;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }

                        }
                        .content-18{
                            width: 100%;
                            padding: 1rem 2rem;
                            padding-top: 0;
                            font-size: large;
                            color: brown;
                            @media (max-width:430px) {
                                padding: 0.5rem 1rem;
                                font-size: larger;
                            }
                            span{
                                font-weight: 700;
                            }


                        }





                    }
                   
                }
                .bottom-middle-card{
                    max-width: 100%;
                    min-height: 10vh;
                    background-color: brown;

                    .top-bottom-middle-card{
                        width: 100%;
                        min-height: 5vh;
                        background-color: chocolate;
                        display: flex;

                        .avatar{
                            width: 10%;
                            height: 10vh;
                            background-color: cyan;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .name{
                            width: 90%;
                            min-height: 5vh;
                            background-color: green;
                            display: flex;
                            align-items: center;
                            padding-left: 1rem;
                            font-size: 150%;
                            font-weight: 550;

                        }

                    }
                   

                }
                
            }
            .lower-card{
                max-width: 100%;
                min-height: 10vh;
                background-color: purple;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.3rem;

                .contact-property-expert{
                    width: 30%;
                    display: flex;
                    padding: 1rem 1.5rem;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    text-decoration: none;
                    
                    background-color: orangered;
                    

                }
            


            }

            
        }
    }

    .footer{
        max-width: 100%;
        min-height: 20vh;
        background-color: grey;
    }

    
   

    



}